---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="FreeMarket">
	<main>
		<h1 class="text-xl">Hola mundo</h1>
		
		<div class="flex justify-center">
			<a href="/login" class="btn">Login</a>
			<a href="/signup" class="btn">Signup</a>
		</div>

	</main>
</Layout>
