---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <main class="flex-1 flex flex-col h-[100vh] gap-4 items-center p-4 justify-center bg-gray-100">
    <section class="w-full max-w-md bg-white p-10 rounded-md">
      <h1 class="font-semibold text-2xl text-zinc-900 w-full mb-1">
        FreeMarket - Login
      </h1>
      <p class="text-zinc-500 text-sm mb-8 w-full">
        New here? <a
          href="/register"
          class="text-blue-600 underline underline-offset-2 font-medium"
        >Create an account</a>
      </p>

      <!-- Formulario de Login -->
      <form id="login-form" class="grid grid-cols-1 gap-3 w-full">
        <div class="grid grid-cols-1 gap-2">
          <label
            for="email"
            class="font-medium text-zinc-900 text-sm"
          >
            Email
          </label>
          <input
            id="email"
            type="email"
            name="email"
            class="rounded-md py-1 px-3 bg-zinc-50 text-zinc-900 border border-zinc-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white focus:ring-opacity-60"
            required
          />
        </div>

        <div class="grid grid-cols-1 gap-2">
          <label
            for="password"
            class="font-medium text-zinc-900 text-sm"
          >
            Password
          </label>
          <input
            id="password"
            type="password"
            name="password"
            class="rounded-md py-1 px-3 bg-zinc-50 text-zinc-900 border border-zinc-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white focus:ring-opacity-60"
            required
          />
        </div>

        <button
          type="submit"
          class="bg-zinc-900 border-zinc-900 py-1.5 border rounded-md mt-2 text-zinc-100 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Sign In
        </button>
      </form>
    </section>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const loginForm = document.getElementById("login-form") as HTMLFormElement;

      // limpiar localStorage
      localStorage.removeItem("token");
      localStorage.removeItem("user");

      if (!loginForm) return;
      
      loginForm.addEventListener("submit", async (event) => {
        event.preventDefault(); // Evita el comportamiento por defecto del formulario

        const formData = new FormData(loginForm);
        const email = formData.get("email");
        const password = formData.get("password");

        try {
          const response = await fetch("http://localhost:4000/api/users/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
          });

          if (response.ok) {
            const { token, user } = await response.json();

            localStorage.setItem("token", token);
            localStorage.setItem("user", JSON.stringify(user));

            window.location.href = user.role === "admin" ? "/admin/dashboard/" : user.role === "client" ? "/client/dashboard/" : "/";

          } else {
            const { message } = await response.json();
            alert(message);
          }
        } catch (error) {
          console.error("Error en el login:", error);
          alert("Hubo un problema al intentar iniciar sesión. Intenta nuevamente.");
        }
      });

    });
  </script>

</Layout>
