<footer class="w-full bg-gray-100 border-t border-gray-300 py-6">
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between items-center px-6">
      <p class="text-gray-700 text-sm">
        © 2024, Built with <span class="font-semibold">Astro</span>
      </p>
      
      <p class="text-gray-500 text-sm mt-4 md:mt-0">
        Developed by: <span class="font-medium">Rony</span>, <span class="font-medium">David</span>, <span class="font-medium">Gabriel</span> & <span class="font-medium">Vanessa</span>
      </p>
    </div>
  </footer>
  