---
import Layout from "../../layouts/Layout.astro";
import ProductsList from "../../components/ProductsList.astro";
---

<Layout title="FreeMarket">
  <main class="min-h-screen my-2 bg-gray-100">
    <ProductsList role="client" />
   </main>
</Layout>
